:javascript
  $(document).ready(function(){
    register_promo_link($("#development-bookshout-promo-link"),"#{@development_endpoint}","#{@development_key}");
    //register_promo_link($("#staging-bookshout-promo-link"),"#{@staging_endpoint}","#{@staging_key}");
    //register_promo_link($("#qa-bookshout-promo-link"),"#{@qa_endpoint}","#{@qa_key}");
    //register_promo_link($("#prod-bookshout-promo-link"),"#{@prod_endpoint}","#{@prod_key}");
  });
.row
  .col-xs-12.col-lg-12
    %h1 Bookshout Web Portal
    %p
      This page serves as simulation of the AMEX web portal to redeem a free book. Refereshing the campaign page 
.row
  .col-xs-12.col-lg-12
    .panel.panel-default
      .panel-body
        %h2 Development
        %p
          Before clicking the button, naviagte to:
          %a(href="http://bookshout.dev/pawnee") https://bookshout.dev/pawnee
          and notice you will be rejected and redirected to the bookshout store front.
        %p
          Click the link and you will be allowed to continue with the redemption process
        %a#development-bookshout-promo-link.btn.btn-primary.btn-lg.disabled(type="button"){:target => "_blank"} Authorizing...
.row
  .col-xs-12.col-lg-12
    .panel.panel-default
      .panel-body
        %h2 Prod
        %p
          Before clicking the button, naviagte to:
          %a(href="https://qa.bookshout.com/amex") https:/qa.bookshout.com/amex
          and notice you will be rejected and redirected to the bookshout store front.
        %p
          Click the link and you will be allowed to continue with the redemption process
        %a#qa-bookshout-promo-link.btn.btn-primary.btn-lg(type="button"){ :target => "_blank"} Authorizing...
.row
  .col-xs-12.col-lg-12
    .panel.panel-default
      .panel-body
        %h2 Prod
        %p
          Before clicking the button, naviagte to:
          %a(href="https://bookshout.com/amex") https:/bookshout.com/amex
          and notice you will be rejected and redirected to the bookshout store front.
        %p
          Click the link and you will be allowed to continue with the redemption process
        %a#prod-bookshout-promo-link.btn.btn-primary.btn-lg(type="button"){ :target => "_blank"} Authorizing...
